RewriteEngine on
RewriteBase /citrastop/
RewriteCond $1 !^(index\.php|images|css|img|scripts|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
